.control-container {
    /* flex: 1; */
    position: absolute;
    bottom: 50px;
    width: 100%;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 20;
}

.control {
    
}
.control .button-control {

}
.control .button-control button{
    margin-left: 10px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.feature {
    position: absolute;
    /* height: 50px; */
    z-index: 10;
    /* top: 10px; */
    right: 0px;
    /* padding: 5px; */
    width: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    /* opacity: 0.7; */
}


.feature .button {
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
    background-color: white;
    min-height: 70px;
}

@keyframes change-height {
    from {
        height: 0px;
    }

    to {
        height: 100%;
    }
}

.feature .button button {
    margin-left: 5px;
    margin-right: 5px;
}

.feature .button p {
    margin: 0;
    font-size: 20px;
}
